package components

templ Card(title string) {
	<div class="card bg-base-100 shadow-xl w-full max-w-md mx-auto">
		<div class="card-body">
			<h2 class="card-title text-2xl font-bold text-center mb-4">{ title }</h2>
			{ children... }
		</div>
	</div>
}
