{{ define "alert" }}
  <div class="alert alert-{{ .Type }} alert-soft">
    <span>{{ .Message }}</span>
  </div>
{{ end }}
{{ define "alert_error" }}
  <div class="alert alert-error alert-soft">
    <span>{{ . }}</span>
  </div>
{{ end }}
{{ define "alert_success" }}
  <div class="alert alert-success alert-soft">
    <span>{{ . }}</span>
  </div>
{{ end }}
{{ define "alert_warning" }}
  <div class="alert alert-warning alert-soft">
    <span>{{ . }}</span>
  </div>
{{ end }}
{{ define "alert_info" }}
  <div class="alert alert-info alert-soft">
    <span>{{ . }}</span>
  </div>
{{ end }}
